{
  "banned_words": "fozzie,machariel,entosis,ragnarok,ahac,ahacs,blops,aeon,zkill,hedliner,dancul,kb,killboard,ratting,nyx,querious,insmother,jita,lazerhawk,isk,lazerhawks,lzhx,goons,incursion,fc,cfc,c3,c4,c5,fortizar,astrahus",
  "suspicious_words": "rent,bil,renting,unrented,pandemic,horde,legion,fort,astra,wh,site,sites,dread,fleet,hole,wormhole,wormholes,alliance,deployment,eve,dropped,hotdropped,drop,hotdrop,gating,roaming,roam,gate,delve,rent,hawks"
}
