{"prefix": "?",
"description": "All commands below, grouped by category",
"token": "abcd",
"enabled_exts": "status,admin,bomb,dumpster,eightball,flip,presence,rageping,remindme,trump_quotes,trump_twitter,ts3,EvePolice,git,SlideIntoDMs,timer,trump_pic,worldcup"
}
