{
  "server": "1234",
  "channel": "1234",
  "messages": [1234, 1234, 1234],
  "api-token": "1234",

  "Russia": ":flag_ru:",
  "Saudi Arabia": ":flag_sa:",
  "Egypt": ":flag_eg:",
  "Uruguay": ":flag_uy:",
  "Portugal": ":flag_pt:",
  "Spain": ":flag_es:",
  "Morocco": ":flag_ma:",
  "Iran": ":flag_ir:",
  "France": ":flag_fr:",
  "Australia": ":flag_au:",
  "Peru": ":flag_pe:",
  "Denmark": ":flag_dk:",
  "Argentina": ":flag_ar:",
  "Iceland": ":flag_is:",
  "Croatia": ":flag_hr:",
  "Nigeria": ":flag_ng:",
  "Brazil": ":flag_br:",
  "Switzerland": ":flag_ch:",
  "Costa Rica": ":flag_cr:",
  "Serbia": ":flag_rs:",
  "Germany": ":flag_de:",
  "Mexico": ":flag_mx:",
  "Sweden": ":flag_se:",
  "Korea Republic": ":flag_kr:",
  "Belgium": ":flag_be:",
  "Panama": ":flag_pa:",
  "Tunisia": ":flag_tn:",
  "England": ":flag_gb:",
  "Poland": ":flag_pl:",
  "Senegal": ":flag_sn:",
  "Colombia": ":flag_co:",
  "Japan": ":flag_jp"
}